.hd {
  margin: 40px 50px;
}

.hotelname {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  /* line-height: 40px; */
  letter-spacing: -0.02em;
  /* Gray/700 */
  margin-bottom: 2px;
  color: #272d37;
}

.des {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #5f6d7e;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.showmore {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 18px;
  gap: 6px;
  width: 118px;
  height: 46px;

  /* Base/White */

  background: #ffffff;
  /* Neutral/700 */

  border: 1px solid #dae0e6;
  /* Shadow/XSM */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 100px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.hds {
  display: flex;
  justify-content: space-between;
}

.showmore:hover {
  background-color: #574efa;
  color: aliceblue;
}

@media (max-width: 700px) {
  .hds {
    flex-direction: column;
  }

  .hd {
    margin: 1rem;
  }
}
